.input {
  box-sizing: border-box;
  width: 40rem;
  height: 20rem;
  padding: 2rem 0;
  background-color: rgb(252, 252, 252);
}

label {
  display: block;
  width: 25rem;
  margin: 0 auto;
  margin-bottom: 0.2rem;
  text-align: start;
}

input {
  display: block;
  width: 25rem;
  height: 3rem;
  margin: 0 auto;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
}

.email-wrapper {
  position: relative;
  margin-bottom: 4rem;
}

.check-mark {
  position: absolute;
  top: 2rem;
  right: 8rem;
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  background-color: rgb(210, 210, 210);
  border-radius: 1rem;
}

.password-wrapper {
  position: relative;
}

.eye {
  position: absolute;
  top: 2rem;
  right: 8rem;
  width: 2rem;
  height: 2rem;
}
