.tab {
  position: relative;
  width: 60rem;
  height: 5rem;
  border-bottom: 0.5rem solid rgb(215, 215, 215);
  display: flex;
}

.item {
  width: 20rem;
  height: 5rem;
  line-height: 5rem;
  vertical-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(10, 11, 11, 0.33);
  cursor: pointer;
}

.bar {
  position: absolute;
  content: '';
  top: 5rem;
  left: 1rem;
  width: 19rem;
  height: 0.5rem;
  background-color: black;
  transition: all 0.4s ease-in-out;
}

.second .bar {
  transform: translateX(20rem);
}

.third .bar {
  transform: translateX(39rem);
  width: 19rem;
}

.first .item:nth-child(1) {
  color: black;
}
.second .item:nth-child(2) {
  color: black;
}
.third .item:nth-child(3) {
  color: black;
}
