.toggle {
  position: relative;
  width: 40rem;
  height: 8rem;
  background-color: rgba(81, 70, 70, 0.3);
  border-radius: 4rem;
  display: flex;
}

.toggle-btn {
  font-size: 2rem;
  font-weight: 700;
  vertical-align: center;
  line-height: 6rem;
  color: black;
  width: 18rem;
  height: 6rem;
  margin: 1rem;
  border-radius: 3rem;
  cursor: pointer;
}

.switch {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 18rem;
  height: 6rem;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}

.active .switch {
  margin-left: 20rem;
}
